.buy-now {
  &-button__mobile {
    position: fixed;
    bottom: -1px;
    background-color: white;
    z-index: 11;
    width: 101%;
    padding: 2rem 1.8rem 2rem 1.9rem;
    box-shadow: 3px 0 13px 0 rgba(0, 0, 0, 0.18);
    height: 6.8rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "RobotoSlab";
    color: $color-cherry;
    line-height: 1.56;
    @media (min-width: 992px) {
      display: none;
    }

    &-image {
      display: inline-block;
      transform: rotate(180deg);
      margin-left: -10px;
    }
  }

  &__section--show,
  &__section--hide {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: -8px 14px 11px 0 rgba(0, 0, 0, 0.14);
    background-color: $color-white;
    position: absolute;
    top: 10rem;
    z-index: 2;
    right: 3rem;
    transition: 0.5s;

    @media (max-width: 991px) {
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: -8px 14px 11px 0 rgba(0, 0, 0, 0.14);
      background-color: $color-white;
      top: auto;
      bottom: 1rem;
      z-index: 2;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 7.8rem;
      transition: 0.5s;
      width: 98%;
      max-width: 450px;
    }

    @media (max-width: 475px) {
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: -8px 14px 11px 0 rgba(0, 0, 0, 0.14);
      background-color: $color-white;
      position: absolute;
      bottom: 7.8rem;
      z-index: 2;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.5s;
      width: 96%;
      max-width: 400px;
    }
  }

  &__section--show {
    transform: translateY(0);
  }

  &__section--hide {
    transform: translateY(200%);
    @media (min-width: 992px) {
      transform: translateY(-200%);
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &__company-logo {
    padding: 0.5rem;
    img {
      padding: 1rem;
      width: 18rem;
      height: 7.8rem;
      border-radius: 0.3rem;
      border: 1px solid #d4d4d4;

      @media (max-width: 991px) {
        padding: 1rem;
        width: 100%;
        height: 8rem;
        border-radius: 0.3rem;
        border: 1px solid #d4d4d4;
      }

      @media (max-width: 475px) {
        padding: 1rem;
        width: 100%;
        height: 7rem;
        border-radius: 0.3rem;
        border: 1px solid #d4d4d4;
      }
    }
  }
}
